body, html {
    height: 100%;
    margin: 0;
  }
  
  .bg {
    /* The image used */
    background-color: #A28BE7;
    /* Full height */
    height: 1300px; 
  
    
  }
  
  #selfie {
      max-width: 100px;
      max-height: 100px;
  }
  h1 {
      
      color: aliceblue;
      text-align: center;
      font-size: xx-large ;
      font-family: 'Pacifico', cursive;
  }
  #portHeader {
      margin-bottom: 40px;
  }
  .card-img-top {
    width: auto;
    height: auto;
}
.card-body {
  background-color: #B6666F;
}
 .projects {
max-width: 300px;
max-height: 250px;
display: block;
}
.btn {
  margin: 10px;
}
.icon {
  height: 160px;
  width: 35px;
}
.whole-card {
  margin: 20px;
  width: 100px;
}
